@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Jost&display=swap');

h1{
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: white;
    margin-top: 100;
    font-size: 55;

}
.logo{
margin-top: 30;
margin-left: 50;

}
.about{
  text-align: right;
  margin-right: 100;
  color: white;
  font-size: 30;
  font-family:  'Jost', sans-serif;
  margin-bottom: 100  ;
}
#login {
    border: 3px solid #FF4B4B ;
    border-style:groove;
    color: rgb(0, 0, 0);
    padding: 5px 45px;
    font-size: 25px;  
    cursor: pointer;
    background-color: transparent;
    border-radius: 13px;
    font-family: 'Jost', sans-serif;
    color: white;

  }

  #sign {
    border: 3px solid #FF4B4B  ;
    color: rgb(0, 0, 0);
    padding: 5px 40px;
    font-size: 25px;
    cursor: pointer;
    background-color:#FF4B4B ;
    border-radius: 13px;
    font-family: 'Jost', sans-serif;
    color: white;
  }
  html {
    height: 100%;
    background:
        linear-gradient(
          120deg,
          #cb2323    ,
            transparent
        ),
        linear-gradient(
          -60deg,
         #051e9a,
            transparent
        );
        
    background-blend-mode: screen;
  }
  .box {
    display: inline-block;
    height: 180px;
    width: 190px;
    margin-top: 50;
    margin-left: 380;
    border: 1px solid #E55E5E  ;
    border-radius: 30;
    background-color: #E55E5E ;
    font-size: 20;  
    font-family:'Jost', sans-serif;
    color: white;
    text-align: center;
  }